.logout-button {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;

  }
  
  .logout-button:hover {
    color: #f3912e;
    transition: 1s;
    transition-delay: 0.3s;
   
  }
  